.login-3,
.login-3 * {
  box-sizing: border-box;
}
.login-3 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.login-box {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: var(--point, #f1de31);
  border-radius: 15px;
  width: 446px;
  height: 53px;
  position: absolute;
  left: 497px;
  top: 553px;
}
.rectangle-10 {
  border-radius: 0px;
  position: absolute;
  left: 498px;
  top: 439px;
  overflow: visible;
}
.rectangle-11 {
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  border-style: solid;
  border-color: #6f9bc3;
  border-width: 1px;
  width: 445px;
  height: 45px;
  position: absolute;
  left: 498px;
  top: 484px;
}
.user {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 537px;
  top: 450px;
}
.lock {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 537px;
  top: 494px;
}
. {
  color: #707070;
  text-align: left;
  font: 500 20px "Noto Sans KR", sans-serif;
  position: absolute;
  left: 576px;
  top: 447px;
}
.2 {
  color: #707070;
  text-align: left;
  font: 500 20px "Noto Sans KR", sans-serif;
  position: absolute;
  left: 576px;
  top: 492px;
}
.3 {
  color: #707070;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 514px;
  top: 663px;
}
.4 {
  color: #707070;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 836px;
  top: 663px;
}
.5 {
  color: #ffffff;
  text-align: left;
  font: 500 20px "Noto Sans KR", sans-serif;
  position: absolute;
  left: 693px;
  top: 566px;
}
.vector-8 {
  position: absolute;
  left: 743px;
  top: 690px;
  transform: translate(-0.5px, -30px);
  overflow: visible;
}
.working-schedule {
  width: 75px;
  height: 62px;
  position: absolute;
  left: 613px;
  top: 347px;
}
.shift {
  color: var(--point, #f1de31);
  text-align: left;
  font: 700 55px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 27px);
  top: 342px;
  width: 131px;
  height: 60px;
}
