/* Figma Styles of your File */
:root {
  /* Colors */
  --bg: #946fc3;
  --prin: #358bd9;
  --point: #f1de31;
  --off: #f8cecc;
  --open: #dae8fc;
  --off-s: #c66e6a;
  --open-s: #a0b9dc;
  --close: #d5e8d4;
  --colse-s: #b8d5ad;
  --pos: #fae8ac;
  --hall: #d0e8e2;
  --dillever: #fae8d2;
  --borad-bg: #ffface;
  --name-bg: rgba(112, 110, 89, 0.6);
  --word: #2d2d2d;
  --ffffff: #ffffff;
  --day-bg: rgba(217, 217, 217, 0.8);

  /* Fonts */
  --body: 400 13px "Noto Sans KR", sans-serif;
  --day: 700 20px "Noto Sans KR", sans-serif;
  --hader: 700 20px "Noto Sans KR", sans-serif;
  --name: 400 13px/16px "Noto Sans KR", sans-serif;

  /* Effects */
  --day-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
