:root {
  --bg: rgba(148, 111, 195, 1);
  --prin: rgba(98, 162, 221, 1);
  --point: var(--variable-collection-point);
  --off: rgba(248, 206, 204, 1);
  --open: rgba(218, 232, 252, 1);
  --offs: rgba(198, 110, 106, 1);
  --opens: rgba(160, 185, 220, 1);
  --close: rgba(213, 232, 212, 1);
  --colses: rgba(184, 213, 173, 1);
  --pos: rgba(250, 232, 172, 1);
  --hall: rgba(208, 232, 226, 1);
  --dillever: rgba(250, 232, 210, 1);
  --boradbg: rgba(255, 250, 206, 1);
  --name-bg: rgba(112, 110, 89, 0.6);
  --word: rgba(45, 45, 45, 1);
  --ffffff: rgba(255, 255, 255, 1);
  --daybg: rgba(217, 217, 217, 0.8);
  --btn: rgba(140, 188, 233, 1);
  --font: rgba(45, 45, 45, 1);
  --body-font-family: "NotoSans KR-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --day-font-family: "NotoSans KR-Bold", Helvetica;
  --day-font-weight: 700;
  --day-font-size: 20px;
  --day-letter-spacing: 0px;
  --day-line-height: normal;
  --day-font-style: normal;
  --hader-font-family: "NotoSans KR-Bold", Helvetica;
  --hader-font-weight: 700;
  --hader-font-size: 20px;
  --hader-letter-spacing: 0px;
  --hader-line-height: normal;
  --hader-font-style: normal;
  --name-font-family: "NotoSans KR-Regular", Helvetica;
  --name-font-weight: 400;
  --name-font-size: 13px;
  --name-letter-spacing: 0px;
  --name-line-height: 16px;
  --name-font-style: normal;
  --medium-font-family: "NotoSans KR-Medium", Helvetica;
  --medium-font-weight: 500;
  --medium-font-size: 20px;
  --medium-letter-spacing: 0px;
  --medium-line-height: normal;
  --medium-font-style: normal;
  --ragulra-font-family: "NotoSans KR-Regular", Helvetica;
  --ragulra-font-weight: 400;
  --ragulra-font-size: 20px;
  --ragulra-letter-spacing: 0px;
  --ragulra-line-height: normal;
  --ragulra-font-style: normal;
  --set-font-family: "NotoSans KR-Regular", Helvetica;
  --set-font-weight: 400;
  --set-font-size: 16px;
  --set-letter-spacing: 0px;
  --set-line-height: normal;
  --set-font-style: normal;
  --day: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  --variable-collection-7445: rgba(112, 110, 89, 0.6);
  --variable-collection-bg: rgba(217, 217, 217, 1);
  --variable-collection-prime: rgba(111, 155, 195, 1);
  --variable-collection-point: rgba(241, 222, 49, 1);
  --variable-collection-word: rgba(45, 45, 45, 1);
  --variable-collection-line: rgba(120, 120, 120, 1);
}
